$font: 'Roboto', sans-serif; 

$azul: #000ff0;
$negro: #000000;
$blanco: #ffffff;

@mixin flex ($direccion, $justify, $aling){
    display: flex;
    flex-direction: $direccion;
    justify-content: $justify;
    align-items: $aling;
}



