// main //

.sobre-nosotros{
    p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    }
}

.local{
    img{
        padding: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}